# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Virtual Environment
# =====================
.venv/
venv/

# =====================
# FAISS / model
# =====================
*.faiss
*.bin



# =====================
# IDE
# =====================
.vscode/
.idea/

# =====================
# OS
# =====================
.DS_Store

vector_db/*.faiss
vector_db/*.pkl